<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="libs/bootstrap-4.min.css" >
        <link href="libs/material-font.css" rel="stylesheet">

        <script src="libs/jquery-3.2.1.slim.min.js"></script>
        <script src="libs/popper.min.js"></script>

        <script type="text/javascript" src="libs/jquery.min.js"></script>
        <script type="text/javascript" src="libs/moment.min.js"></script>
        <!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />-->

        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="libs/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="libs/daterangepicker.css" />
    </head>
    <body>
        <div id="app" class="big_wrapper">
            <div class="wrapper">
                <div class="one_more_wrapper">
                <div class="column">
                    <div class="column_title">
                        <h3 class="h3">База знань</h3>
                    </div>

                    <div class="rules">
                        <button id="add_rule_btn" @click="showModal" class="btn btn-outline-primary" v-if="!isRunning">Додати нове правило</button>
                        <div v-if="rules.length == 0" class="placeholder">Список правил пустий</div>
                        <rule v-for="(rule, index) in rules" :rule="rule" :index="index"></rule>
                    </div>
                </div>
                <div class="column">
                    <div class="column_title">
                        <h3 class="h3">Робоча пам'ять</h3>
                    </div>

                    <div class="working-memory">
                        <fact_row v-for="factsArray in workingMemory" :array_of_facts="factsArray"></fact_row>
                    </div>
                </div>
                <div class="column">
                    <div class="column_title">
                        <h3 class="h3">Робочий список правил</h3>
                    </div>
                    <div class="working-rules">
                        <working_rules_row v-for="ruleIndexesArray in workingListOfRules" :array_of_rule_indexes="ruleIndexesArray"></working_rules_row>
                    </div>
                </div>
                <div class="column">
                    <div class="column_title">
                        <h3 class="h3">Обране правило</h3>
                    </div>
                    <div class="choosed_rules">
                        <choosed_rule v-for="selectedIndex in selectedRulesIndexes" :rule_index="selectedIndex"></choosed_rule>
                    </div>
                </div>
                </div>
            </div>

            <div class="footer">
                <div class="initial_data_wrapper">
                    <table>
                        <tr>
                            <td><span>Список стартових фактів</span></td>
                            <td><input type="text" v-model="startFactsStr" :disabled="isRunning"></td>
                        </tr>
                        <tr>
                            <td><span>Стратегія по правилам</span></td>
                            <td>
                                <select v-model="strategy" :disabled="isRunning">
                                    <option>Перше правило</option>
                                    <option>Останнє правило</option>
                                    <option>Спрощення</option>
                                    <option>Ускладнення</option>
                                    <option>LEX</option>
                                    <option>MEA</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Стратегія по консеквенту</span></td>
                            <td>
                                <select v-model="consequent_strategy" :disabled="isRunning">
                                    <option>Ширина</option>
                                    <option>Глибина</option>
                                    <option>Випадково</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="btn_wrapper">
                    <button class="btn btn-outline-primary" id="btn_start" @click="start">{{isRunning ? 'СТОП' : 'СТАРТ'}}</button>
                    <button class="btn btn-outline-primary" id="btn_prev" @click="prev" v-if="isRunning"><i class="material-icons">keyboard_arrow_left</i></button>
                    <button class="btn btn-outline-primary" id="btn_next" @click="next" v-if="isRunning"><i class="material-icons">keyboard_arrow_right</i></button>
                </div>
            </div>
            <div class="myModal" v-if="modalIsVisible" >
            <!--<div class="myModal">-->
                <div class="new_rule_wrapper">
                    <h3>Визначте правило</h3>
                    <input type="text" v-model="ruleText" @keyup.enter="saveRule" autofocus>
                    <h4>Оберіть дату</h4>
                    <input type="text" id="reportrange" />
                    <div>
                        <button class="btn btn-outline-primary" @click="cancelModal">Назад</button>
                        <button class="btn btn-outline-primary" @click="saveRule">Зберегти</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vuex"></script>
        <script src="vuexstore.js"></script>
        <script src="script.js"></script>
        <script src="helpers/syntaxChecker.js"></script>
    </body>
</html>